DATABASE_URL="mysql://root:@localhost:3306/sesuatu_darikota_malang"
JWT_SECRET=""
PORT=4000
GOOGLE_CLIENT_ID=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
MIDTRANS_MERCHANT_ID=""
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION="false"
MIDTRANS_IS_SANITIZED="true"
MIDTRANS_IS_3DS="true"
CORS_ALLOWED_ORIGINS=""
